
.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
}
.fr{
    margin-left: 560px;
}

.Rating input[type="radio"]{
    display: none;
}

.Rating .Star{
    cursor: pointer;
    margin: 10px;
    transition: color 200ms;
}