.notification {
  top: -13px;
  right: -13px;
  padding: 2px 6px;
  font-size: 10px;
  background: #ff473e;
}

.invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.notification-box{
  padding: 10px 0px;
}
.head{
  padding:5px 15px;
  margin-top: -8px;
  border-radius: 3px 3px 0px 0px;
}
.dropdown-notice{
  top: 60px;
  right: 0px;
  left: unset;
  height: 430px;
  width: 460px;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
}
#style-scroll::-webkit-scrollbar {
  width: 12px;
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
#style-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
